* {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.content {
  width: 80%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.menu-item {
  height: 100%;
  margin: 0 2rem;
  display: inline-block;
}
.menu-item:hover {
  background-color: #ccc;
}